.container{
    background-color: #1E1E1E;
    color: white;
    height: 100vh;
    width: 100%;
    padding: 15px;
}
#form{
    display: flex;
    flex-wrap: wrap;
}

input{
 width: 250px;
 height: 20px;
  margin-top: 10px;
  margin-left: 5px;
  background-color:  #1E1E1E;
  color: white;
  border: 1px solid #ffffff;
  font-size:10px;

}
.btn{
    width: 300px;
    background:#ffffff;
    color:black ;
    margin-top: 20px;
    
}
.table{
    border:1px solid #ffffff;
    width:95%;
    margin-top: 20px;
}
.table th{
    border-right: 1px solid #ffffff;
    font-weight: 50;
}
#update{
    display: none;
    background-color: black;
    color: white;
}
#search{
    width: 95%;
}